<!DOCTYPE html>
<html class="no-js" lang="" ng-app="BookTableApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>book a table</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' media='all' />
</head>

<body>
    <div class="container" ng-controller="PagesCtrl as layer" layout="column" layout-fill ng-cloak>
        <md-toolbar md-scroll-shrink class="md-medium-tall md-sticky">
            <div class="md-toolbar-tools">
                <h2 class="md-headline">book a table {{layer|json}}</h2>
            </div>
        </md-toolbar>
        <div ng-switch="layer.path">
        <md-content flex ng-controller="MenuCtrl" ng-switch-when="menu">
            <md-datepicker ng-model="today" md-placeholder="today" disabled></md-datepicker>
            <md-list flex>
              <div ng-repeat="item in menus">
                <md-subheader class="md-sticky" ng-if="item.header">{{::item.header}}</md-subheader>
                <md-list-item class="md-3-line" ng-if="!item.header">
                    <div class="md-avatar" ng-if="item.face">
                      <i class="fa" ng-class="item.face" style="padding: 1em 1em;"></i>
                    </div>
                    <div class="md-list-item-text" ng-class="{'md-offset': !item.face}" layout="column">
                        <h3>{{::item.what}}</h3>
                        <h4>{{::item.who}}</h4>
                        <p>{{::item.notes}}</p>
                    </div>
                    <md-button class="md-secondary" ng-click="redirectToLink(item.link)" ng-if="item.link"><i class="fa fa-chevron-right" aria-hidden="true"></i></md-button>
                    <md-button class="md-secondary" ng-click="layer.changePage()" ng-if="!item.link"><i class="fa fa-chevron-right" aria-hidden="true"></i></md-button>
                    <md-divider inset></md-divider>
                </md-list-item>
              </div>
            </md-list>
        </md-content>
        <md-content flex ng-switch-when="details">
            test
        </md-content>
        </div>
      </md-content>
    </div>
    <script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>

    <!-- loading-bar -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- main app -->
    <script src="js/app.js"></script>
</body>

</html>
